* {
    margin: 0;
}

body {
    justify-content: center;
    margin: 78px 68px 10px 146px !important;
    min-width:375px;
}

:root {
    --white: white;
    --purple: #4B2ED7;
    --lightblue: #38B6FF;
    --primaryblue: #006bfa;
    --freshblue: #0daafd;
    --margenta: #8e18d7;
    --dark: #02155A;
}

/* ----------------------------------------1.ส่วนบน------------------------------------------------------------ */


/* ----------------------------------------2.กล่องฟอร์ม------------------------------------------------------------ */
#headline {
    text-align: center;
}

.first-des-address {
    margin: 5px auto;
    padding: 0.5em 10px 0.5em 0;
}

.des-address {
    margin: 5px auto;
    padding: 0.5em 10px;
}


.form-outer {
    margin: 0px 68px 0px 146px !important;
    padding: 0 250px;
}

#applyform input {
    margin: 5px auto;
    padding: .5em 1.5rem;
}

#stepTwo {
    display: none;

}

<<<<<<< HEAD
#stepThree{
    display: none;
}

#stepTwo input {
    margin: 5px auto !important;
    padding: .5em 1.5rem !important;
}

.des_input {
=======
#applyform .des_input {
>>>>>>> origin/master
    margin: 5px 0 !important;
    padding: 0 0 0 5px !important;
    font-size: 20px;
    color: #031f87;

}

.action-button {
    margin-top: 20px !important;
}


.submitBtn {
    margin-top: 10px !important;
}

#next {
    background: var(--primaryblue) !important;
    border: none;
}

#next:hover {
    background: var(--lightblue) !important;
    border: none;

}

#back {
    border: none;
}

#back:hover {
    background-color: var(--lightblue);
}

#submit {
    background-color: var(--dark);
    border: none;
}

#submit:hover {
    background-color: var(--purple);
}

input[type=file]::file-selector-button {
    color: var(--white);
    border-style: none;
    padding: .2em .4em;
    border-radius: 5px;
    background-color: #ff9910 !important;
    transition: ease 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--lightblue) !important;
}

.btn-light {
    padding: 8px 24px;
    color: #212529 !important;
    background-color: var(--white) !important;
    border: 1px solid #ced4da !important;
    height: 42px;
}

#mkrtype {
    padding: 0 !important;
}

#provincebox {
    padding: 0 !important;
    padding-left: 4px !important;
}

#dropdown {
    margin: 0 !important;
    padding: 0 !important;
}
.tooltip-inner{
    max-width: 5000px !important;
}
@media(max-width: 992px) {

    body {
        padding: 2px;
        margin: 50px 10px 0px 10px !important;
    }

}


@media(max-width: 720px) {

    body {
        padding: 2px;
        margin: 70px 1px 0px 5px !important;
    }

    #headline {
        font-size: 24px;
        margin: 0px 30px;
    }

}

@media(min-width: 370px) {

    body {
        padding: 2px;
        margin: 70px 1px 0px 5px !important;
    }

}