* {
    margin: 0;
}

body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;
}

:root {
    --white: white;
    --purple: #4B2ED7;
    --lightblue: #38B6FF;
    --primaryblue: #006bfa;
    --freshblue: #0daafd;
    --margenta: #8e18d7;
    --dark: #02155A;
}

/* ----------------------------------------2.กล่องฟอร์ม------------------------------------------------------------ */
#headline {
    text-align: center;
}

.first-des-address {
    margin: 5px auto;
    padding: 0.5em 10px 0.5em 0;
}

.des-address {
    margin: 5px auto;
    padding: 0.5em 10px;
}


.form-outer {
    padding: 0 250px;
}

#applyform input {
    margin: 5px auto;
    padding: .5em 1.5rem;
}

#stepTwo {
    display: none;

}

#stepThree {
    display: none;
}

#stepTwo input {
    margin: 5px auto !important;
    padding: .5em 1.5rem !important;
}


#applyform .des_input {
    margin: 5px 0 !important;
    padding: 0 0 0 5px !important;
    font-size: 20px;
    color: #031f87;

}

.action-button {
    margin-top: 20px !important;
}


.submitBtn {
    margin-top: 10px !important;
}

#next {
    background: var(--primaryblue) !important;
    border: none;
}

#next:hover {
    background: var(--lightblue) !important;
    border: none;

}

#back {
    border: none;
}

#back:hover {
    background-color: var(--lightblue);
}

#submit {
    background-color: var(--dark);
    border: none;
}

#submit:hover {
    background-color: var(--purple);
}

input[type=file]::file-selector-button {
    color: var(--white);
    border-style: none;
    padding: .2em .4em;
    border-radius: 5px;
    background-color: #ff9910 !important;
    transition: ease 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--lightblue) !important;
}

.btn-light {
    padding: 8px 24px;
    color: #212529 !important;
    background-color: var(--white) !important;
    border: 1px solid #ced4da !important;
    height: 42px;
}

#mkrtype {
    padding: 0 !important;
}

#provincebox {
    padding: 0 !important;
    padding-left: 4px !important;
}

#dropdown {
    margin: 0 !important;
    padding: 0 !important;
}

.tooltip-inner {
    max-width: 5000px !important;
    background-color: var(--freshblue) !important;
}



/* -------------------responsive-------------- */
@media(max-width: 1400px) {
    .form-outer {
        padding: 0px;
    }

}

@media(max-width: 992px) {
    .form-outer {
        margin: 0px;
        padding: 0px;
    }

    pt-5 {
        width: 100%;
    }

    #stepTwo {
        display: none;

    }

    #stepThree {
        display: none;
    }


}
@media(max-width: 720px) {

    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px !important;

    }

    #headline {
        font-size: 24px;
        margin: 0px 30px;
    }

    .form-outer {
        padding: 10px;
        margin: 0 !important;
    }

    pt-5 {
        width: 100%;
    }
    .row {
        display: flex !important;
    }

    .form-control {
        width: 200% !important;
    }

    .col-2 {
        padding: 0px !important;
        width: 35% !important;
    }

    #stepTwo {
        display: none;

    }

    #stepThree {
        display: none;
    }
}
