body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;
}



/* responsive--------------------------------------------------------------------- */

@media(min-width: 1000px) {

    img {
        width: fit-content;
    }

    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 0 0 0 17px;
    }

    .compfile {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0;
    }

}

@media(max-width: 992px) {


    img {
        width: 100%;
    }

    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 180px;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 180px;
        margin: 0 0 0 17px;
    }

    .compfile {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0;
    }

}

@media(max-width: 768px) {

    img {
        width: 100%;
    }

    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 150px;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 150px;
        margin: 0 0 0 17px;
    }

    .compfile {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0;
    }

}

@media(max-width:720px) {
    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px !important;
    }

    .reply-head {
        font-size: medium;
    }

    .reply_detail {
        font-size: medium;
    }


    .float-end {
        font-size: small;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img {
        width: 100%;
    }

    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 0 0 0 17px;
    }

    .compfile {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 200px;
        margin: 10px 0;
    }


}

@media(max-width:640px) {

    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 80%;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 80%;
        margin: 0 0 0 17px;
    }
}

@media(max-width:445px) {
    .subject {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 220px;
        margin: 10px 0 0 3px;
    }

    select {
        border-radius: 5px !important;
        border-style: none;
        padding: 0 5px;
        width: 220px;
        margin: 0 0 0 17px;
    }

   

}

