body {

    margin: 50px 68px 20px 146px !important;

    min-width: 370px;

}



.parent {

    display: grid;

    grid-template-columns: 1fr 3fr;

    grid-column-gap: 30px;

}



.contentbox {

    padding: 30px;

    border-radius: 5px;
/* 
    -webkit-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    -moz-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1); */

}





.logo_img img {

    /* height: 100%; */

    border-radius: 5px;

    background: #0032B5;
/* 
    -webkit-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    -moz-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1); */



}



.boxcard {

    display: grid;

    grid-gap: 30px;

    grid-template-columns: repeat(2, minmax(100px, 1fr));

}



.cardcontact {

    width: 100%;

    /* border-radius: 5px; */

    margin-top: 30px;

    /* background: white; */

    overflow: hidden;

    /* -webkit-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    -moz-box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1);

    box-shadow: 1px 2px 5px 1px rgba(207, 207, 207, 1); */

}



.cardcontact img {

    width: 500px !important;

    height: 250px;

}



.cardcontact p {

    margin: 0 !important;

}



.card-body {

    margin-top: 50px;

}



/* ----------------------------------------3.ฟอร์มแก้ไขคอนแทค------------------------------------------------------------ */

#logoex {

    background-color: #004AAD;

}



/* ขนาดรูปในฟอร์ม */

.ctimg {

    width: 300px !important;



}



#cancel {

    background-color: #EF3838;

    border: none;

    border-radius: 5px;

}



#save-data {

    background-color: #004AAD;

    border: none;

    border-radius: 5px;

}



.inputct input {

    border-radius: 5px;

}



.inputct span {

    border-radius: 5px;

}





@media(max-width: 1200px) {

    .logo_img {

        display: flex;

        justify-content: center;

    }



    .parent {

        display: grid;

        grid-gap: 30px;

        grid-template-columns: 1fr;

    }



    .boxcard {

        display: grid;

        grid-gap: 0px;

        grid-template-columns: 1fr;

    }



    .card-body h2 {

        font-size: 20px;

    }



    .card-body p {

        font-size: 16px;

    }





}



@media(max-width: 720px) {

    .parent, .box {

        display: grid;

        grid-gap: 20px !important;

        grid-template-columns: 1fr;

        text-align: center;

    }



    body {


         margin: 80px 10px 0px 10px !important;

    }



    h1 {

        font-size: 24px !important;

    }



    .cardcontact img {

        width: 660px !important;

        height: 250px !important;

    }



    .card-body {

        margin-top: 20px;

        margin-bottom: 10px;

    }

}

