:root {
  --white: white;
  --purple: #4B2ED7;
  --lightblue: #38B6FF;
  --primaryblue: #006bfa;
  --freshblue: #0daafd;
  --margenta: #8e18d7;
  --dark: #02155A;
}

body {
  padding: 20px;
  margin: 50px 68px 0px 146px !important;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  min-width: 375px;
=======
>>>>>>> bf4c0d0521e0ca4b454c1b394b4b2ada745bdf72
>>>>>>> b290865e1303242d0e649e564024e07ea2986dac

}

/* ปุ่มเมนู */
.add-btn i {
  color: white !important;
  margin: 2px;
  font-size: 1em;
}

.add-btn {
  width: 200px;
  margin-right: 10px;
}

/* form add stall ------------------------*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* ------------------------------------responsive-------------------------- */
@media(max-width: 992px) {

  body {
    padding: 20px;
    margin: 50px 10px 0px 100px !important;
  }
  
}

@media only screen and (max-width: 768px) {
  .dataTables_scrollBody {
    overflow: auto !important;
  }

  body {
    padding: 10px;
    margin: 50px 20px !important;
  }


  .add-btn{
    margin: 5px 0px ;
    width: 100%;
    text-align: left !important;
  }

}


@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
    margin: 50px 20px !important;
  }




}