:root {
  --white: white;
  --purple: #4B2ED7;
  --lightblue: #38B6FF;
  --primaryblue: #006bfa;
  --freshblue: #0daafd;
  --margenta: #8e18d7;
  --dark: #02155A;
}

body {
  padding: 20px;
  margin: 50px 68px 0px 146px !important;
  min-width: 375px;


}

/* ปุ่มเมนู */
.add-btn i {
  color: white !important;
  margin: 2px;
  font-size: 1em;
}

.add-btn {
  width: 200px;
  margin-right: 10px;
}

/* form add stall ------------------------*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* ------------------------------------responsive-------------------------- */
@media(max-width: 992px) {

  body {
    padding: 20px;
    margin: 50px 10px 0px 100px !important;
  }

}

@media only screen and (max-width: 768px) {
  .dataTables_scrollBody {
    overflow: auto !important;
  }

  body {
    padding: 10px;
    margin: 50px 20px !important;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 100% !important;
    margin-top: 10px;
  }

  .add-btn {
    width: 100%;
    text-align: left !important;
    margin-bottom: 15px;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-bottom: 10px;
  }

  .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    margin-bottom: 10px;
  }

  .input-group {
    width: 100% !important;
  }

  label {
    display: inline-block;
    margin-top: 10px
  }


  .btn-primary {
    float: right;
  }

  .btn-danger {
    float: right;
  }

  .col-sm-2 {
    width: 100% !important;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 5px 0px;
  }
}



@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
    margin: 50px 20px !important;
  }


  .hstack {
    display: grid !important;
  }

  .input-group {
    width: 100% !important;
    top: 10px !important;
  }


  .form-control {
    margin-top: 10px;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .col-sm-2 {
    width: 100% !important;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 5px 0px;
  }
}

@media only screen and (max-width: 327px) {
  body {
    padding: 10px;
    margin: 50px 20px !important;
  }


  .input-group {
    width: 100% !important;
    margin-top: 10px;
  }

  .hstack {
    display: block !important;
  }

}