

/* #####################################################################################################################################################################
1.ข้อมูลทั่วไปตลาด (บนซ้าย)
2.รูปตลาด (บนขวา)
3.quickmenu
4.mkrmap
5.mkrmap
6.SignUp
##################################################################################################################################################################### */


body {
    padding: 20px;
    margin: 50px 68px 0px 146px !important;
    background: #F2F3F5 !important;

}

#headerlabel {
    border-bottom: 2px rgba(0, 0, 0, 0.479) solid;
    padding: 15px;
    margin-bottom: 30px;
}

/* ----------------------------------------1.ข้อมูลทั่วไปตลาด (บนซ้าย)------------------------------------------------------------ */

#mkr_name {
    font-size: 4em;
    margin: 0 !important;
}

.info-tag {
    position: absolute !important;
    top: 30px;
    right: 50px;
}

.type_tag {
    color: #5CE1E6;
    padding: 3px;
    font-size: 15px;
    width: 140px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #5CE1E6;
}

.type_tag i {
    font-size: 12px;
}

.type_tag:hover {
    color: #ffffff;
    border: 1px solid white;
    background-color: #5CE1E6;
    transition: all .5s ease;

}

.open_time {
    color: #afafaf;
    width: fit-content !important;
}

/* ----------------------------------------2.รูปตลาด (บนขวา)------------------------------------------------------------ */
.mkrpic img {
    width: 25rem;
    border-radius: 10px;
    height: 400px;
    width: 700px;
}

/*---------------------------------------- 5. quick-menu2------------------------------------------------------- */

.mrk_info {
    position: relative;
    width: 1300px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: -10vh;
    left: 5%;
    padding: 0 15px;
}

#quick-menu2 {
    margin: -35px 50px !important;
}


.quick-menu2 {
    color: #ffffff;
    padding: 1.5em .5em;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    transition: ease .3s;
    background: #3DC9F9;
    box-shadow: 2px 3px 4px #00000023;
    transition: ease 0.5s;
    margin: 10px 10px;
}

.quick-menu2:hover {
    color: white;
    background: #867FDE;
    box-shadow: inset 5px 5px 6px #6963ad,
        inset -5px -5px 6px #a39bff;
    transition: .2s ease;
}

.quick-menu2 i {
    font-size: 2rem !important;
    margin: 0 45%;
}

.quick-menu2 p {
    margin: 0 !important;
    font-size: 25px;
    text-align: center;

}

a {
    text-decoration: none !important;
}

.mrk_news {
    margin: 5em 50px !important;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1.5em .5em;
}

.list-group{
    border-radius: 10px;
}


/* responsive--------------------------------------------------------------------- */

@media(max-width: 1400px) {

    #mkr_name {
        font-size: 2em;
    }

    .mrk_info {
        display: grid;
        position: relative;
        grid-gap: 10px;
        width: auto;
        margin-right: 55px;
    }

    .type_tag{
        margin: 10px auto;
        font-size: 10px;
        width: 80px;
    }
   
    #quick-menu2 {
        display: grid;
        grid-gap: 10px;
        grid-column: 1 / span 3;
        width: auto;
    }

    .quick-menu2 {
        height: 100px !important;
        margin: 17px auto;
    }
}

@media(max-width: 1200px) {

    #quick-menu2 {
        grid-gap: 2px;
      
    }

}

@media(max-width: 992px) {
    #quick-menu2 {
        grid-gap: 1px;
    }

}

@media(max-width:720px) {
    body {
        padding: 20px;
        margin: 50px 10px 0px 10px !important;
    }
}