body {
  padding: 60px 20px;
  margin: 50px 68px 0px 146px !important;
  background-color: #F2F3F5 !important;

}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 250px;
}

.graph {
  height: 320px;
  border-radius: 10px;
  border: 10px solid white;
  box-shadow: 5px 5px 5px #e8e8e8;

}

.cardrent {
  border-radius: 10px;
  height: 150px !important;
  background: white;
  border: 10px solid white;
  box-shadow: 5px 5px 5px #e8e8e8;

  padding: 20px;
  font-size: 20px;
}

.card-emptystaw {
  border-radius: 10px;
  background: white;
  height: 150px !important;
  border: 10px solid white;
  box-shadow: 5px 5px 5px #e8e8e8;

  padding: 20px;
  font-size: 20px;

}

.edit {
  color: blue;
  text-decoration: none !important;
}

.edit:hover {
  color: #38B6FF;
}

.del {
  margin-left: 2px;
  color: red;
  text-decoration: none !important;

}

.del:hover {
  color: #FF2C83;
}

.carousel {
  margin-top: 15px;
}

.carousel-cell {
  padding: 5px;
}

.flickity-viewport {
  overflow: visible;
}


.three.columns {
  width: 25%;
}


.project-box {
  height: 250px;
  border-radius: 10px;
  padding: 16px !important;
  background-color: white;
  box-shadow: 5px 5px 5px #e8e8e8;
}

.project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: rgb(133, 133, 133);
  font-size: 30px !important;
}

.project-box-header:hover {
  color: black;
  transition: 0.5s ease;
}

.project-box-content-header {
  text-align: center;
  margin-bottom: 12px;
  color: blue;
}

.project-box-wrapper {
  padding: 10px;
  transition: 0.2s;
}

.dropdown-menu {
  padding: 10px !important;
}

.dropdown-menu i {
  margin-right: 5px !important;
}

.flickity-prev-next-button:disabled {
  opacity: 0.5 !important;
  background-color: #a3a3a3 !important;
}

.flickity-prev-next-button {
  background-color: #38B6FF !important;

}

.infomarket {
  margin: 0 10% !important;
  margin-top: 10% !important;
}

.status-number {
  font-size: 25px;
}

.mkrdetail {
  font-size: 15px;
  margin: 0;
}

.project-box-footer {
  border-top: 2px solid white;
  padding: 5px;
  margin-top: 10px;
}

.days-left {
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f7f7fc;
  color: black;
  padding:5px 10px;
  width: 250px;
}

.days-left:hover {
  background-color: blue;
  color: white;
  transition: 0.2s ease;
}