:root {

    --white: white;

    --purple: #4B2ED7;

    --lightblue: #38B6FF;

    --primaryblue: #006bfa;

    --freshblue: #0daafd;
 margin: 50px 68px 20px 146px !important;
    --margenta: #8e18d7;

    --dark: #02155A;

}



body {

    margin: 30px 68px 20px 146px !important;

    min-width: 1200px;

}



.add-btn i {

    color: white !important;

    margin: 2px;

    font-size: 1em;

}



.add-btn {

    width: 200px;

    margin-right: 10px;

}



/* ผังแผงค้า */



.plan {

    padding: 10px;

    border-radius: 10px;

    margin: 1rem 0;

    height: 100vh !important;

    background-color: white;



}



.plan li {

    list-style: none;

}



#plan {

    min-width: 100%;

    height: 83vh !important;

    display: flex;



}



.save-change {

    display: inline-flex !important;

    padding: 0 !important;

}



/* แผงค้า */

.stallbox {

    color: white !important;

    border-radius: 5px;

    padding: 2px;

    width: 50px;

    height: 50px;

    cursor: move;

    font-size: 20px;

    overflow: hidden;

}



.stallnum {

    font-size: 15px;

}