body {
    padding: 20px;
    margin: 50px 68px 0px 146px !important;
    background-color: #F2F3F5 !important;
  
  }
.mrk-zone {
    margin: auto .5rem auto 0;
}

#mrkplan {
    padding: .2rem 0;
    width: 200px;
    border-radius: 10px;
    color: #fff;
    background-color: #63B9C3;
    border: none;
}

.plan {
    margin: 1rem 0;
    width: 100%;
    height: 50vh;
    border: 1px solid black;
}

span {
    margin: auto .2rem;
}

#free {
    background-color: #DCAA00;
    border: none;
    border-radius: 10px;
}

#busy {
    background-color: #E2194B;
    border: none;
    border-radius: 10px;
}

i {
    font-size: 20px;
    color: black;
}

#add-lock {
    border-radius: 10px;
}

#delete-lock {
    border-radius: 10px;

}

#addzone {
    width: 200px;
    border-radius: 10px;
}

/* tool */
.div_1{
  color: white;
  background-color: black;
  position: absolute !important;
  top:10%;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  cursor: move;
}