body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.box-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.box img {
    width: 100%;
    height: 350px;
}

.box-2-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.mbsc-block,
.mbsc-form-group {
    margin: 0.5em 0 !important;
}

@media(max-width: 992px) {

    .box {
        display: inherit;
    }

    .box img {
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }

    .box-2-1 {
        display: inherit;
    }

    .box-3 {
        display: inherit;
    }



}

@media(max-width: 720px) {
    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px !important;
    }

    h1 {
        font-size: 24px !important;
    }
}