body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.box-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.box img {
    width: 100%;
    height: 350px;
}

.box-2-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.plan {
    height: 100vh;
}

.plan li {
    list-style: none;
}

.liststall {
    padding: 0 4%;
    min-height: 100%;

}

#plan {
    min-width: 100%;
    min-height: 100%;
}
/* แผงค้า */
.stallbox {
    color: white;
    border-radius: 5px;
    padding: 2px;
    width: 200px;
    height: 30px;
    cursor: move;
    font-size: 15px;
    overflow: hidden;
}

.stallnum {
    font-size: 15px;
}

@media(max-width: 720px) {
    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px !important;
    }

    h1 {
        font-size: 24px !important;
    }

}