* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Mitr', sans-serif;

}

body {

    margin: 50px 68px 20px 146px !important;

    min-width: 370px;



}



#signin {

    margin: 50px 68px 20px 146px !important;

}



.input {

    height: 45px !important;

}



#edtpsw {

    margin: 50px 68px 20px 146px !important;

}



.des_input {

    margin: 5px 0 !important;

    padding: 0 0 0 5px !important;

    font-size: 20px !important;

    color: #031f87;



}



.reset {

    text-align: center;

    color: #fff;

}



.reset h1{

    margin-bottom: 20px;

}



.img-resetpws {

    width: 150px;

    border-radius: 15px;

}



#resetpsw{

    margin: 15px 25px;

}



.reset-btn a  {

    color: #fff;



}



/* -------------------responsive-------------- */



@media(max-width: 992px) {



    .row .g-1 {

        display: block;

    }





}





@media(max-width: 720px) {



    body {


         margin: 55px 10px 0px 10px !important;



    }



    #signin {

        margin: 30px !important;

    }



    #edtpsw {

        margin: 30px !important;

    }



    .dataTables_scrollBody {

        overflow: auto !important;

    }



    .row .g-1 {

        display: block;

        width: 60%;

    }

}








