body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;

}

#signin {
    margin: 30px 68px 20px 146px !important;
}

.input {
    height: 45px !important;
}

#edtpsw {
    margin: 30px 68px 20px 146px !important;
}




/* -------------------responsive-------------- */

@media(max-width: 992px) {

    .form-outer {
        margin: 0px 50px 0px 140px !important;
        padding: 0px;
    }

    .row .g-1 {
        display: block;
    }


}


@media(max-width: 720px) {

    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px ;
    }


    .row .g-1 {
        display: block;
        width: 51%;
    }

    .px-5 {
        padding-right: 1rem!important; 
        padding-left: 1rem!important;
    }



}
