body {
    margin: 30px 68px 20px 146px !important;
    min-width: 370px;

}

#signin {
    margin: 30px 68px 20px 146px !important;
}

.input {
    height: 45px !important;
}

#edtpsw {
    margin: 30px 68px 20px 146px !important;
}

.des_input {
    margin: 5px 0 !important;
    padding: 0 0 0 5px !important;
    font-size: 20px !important;
    color: #031f87;

}



/* -------------------responsive-------------- */

@media(max-width: 992px) {

    .row .g-1 {
        display: block;
    }


}


@media(max-width: 720px) {

    body {
        padding-right: 10px;
        margin: 60px 10px 0px 15px !important;

    }

    #signin {
        margin: 30px !important;
    }

    #edtpsw {
        margin: 30px !important;
    }

    .dataTables_scrollBody {
        overflow: auto !important;
    }

    .row .g-1 {
        display: block;
        width: 60%;
    }

}