body {
    padding: 10px;
    margin: 50px 20px;
    min-width: 375px;

}

.modal-payment .content {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.modal-payment .content p {
    margin: 10px 0px;
}

.modal-payment .des-pay {
    width: 100px;
}

.modal-payment .form-control {
    width: 70% !important;
}


.modal-payment .pay {
    border-left: 1px solid black;
    padding: 15px;
    padding-top: 0px;

}

.modal-payment #qr-code {
    width: 145px;
    margin: 0px 30%;
}

.modal-payment .pay input {
    width: 60% !important;
}


/* ------------------------------------responsive-------------------------- */
@media(max-width: 992px) {

    body {
        padding: 20px;
        margin: 50px 10px 0px 100px !important;
    }

    .content {
        display: block !important;
    }

    .pay {
        border-left: none;
        border-top: 1px solid rgb(205, 205, 205);
        padding: 15px;
        padding-top: 15px;
        margin-top: 10px;
    
    }

}

@media only screen and (max-width: 768px) {
    .dataTables_scrollBody {
        overflow: auto !important;
    }

    body {
        padding: 10px;
        margin: 50px 20px !important;
    }

    #headline {
        font-size: 25px;
    }

    .content {
        display: block !important;
    }



}


@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
        margin: 50px 20px !important;
    }



}